.pageDotsContainer {
  position: fixed;
  right: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
}

.pageDot {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: white;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: all 1000ms linear;
}

.pageDotActive {
  width: 20px;
  height: 20px;
  background-color: black;
  cursor: default;
}

@media screen and (max-width: 400px) {
  .pageDotsContainer {
    flex-direction: row;
    bottom: 8px;
    left: 0;
    right: 0px;
    top: auto;
    transform: none;
    width: 100%;
    justify-content: center;
  }

  .pageDot {
    margin-right: 4px;
    margin-left: 4px;
  }
}